/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol menu{
    list-style: none;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}
/* END RESET */

/* UTITLITIES */
.flex{
    display: flex;
}
.ml-auto{
    margin-left: auto;
}
.aling-center{
    align-items: center;
}
.display-none{
    display: none;
}
.padding{
    padding: 50px 20px;
}

.button{
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.font-size{
    font-size: 60px;
}
/* END UTILITIES */

/* LAYOUT */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container-sm{
    max-width: 880px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col12{
    width: 100%;
}

.col8{
    width: calc(8 * 100% / 12);
}

.col4{
    width: calc(4 * 100% / 12);
}
/* END LAYOUT */

/*  HEADER */
header{
    background-color: #0084FD;
    height: 90px;
    padding: 20px 0 ;
    color: white;
}
.col img{
    padding: 10px;
}

.ul-col{
    gap: 10px;
}

.menu>*{
    padding: 10px;
    
}

.i-container i{
    padding: 10px;
}
/* END HEADER */
/* MAIN */
/* FIRST-SECTION */
main .row{
    gap: 10px;
}
.card{
    background-color: #B5DDFF;
    border-radius: 10px;
}

.card-sm{
    height: 100%;
    text-align: center;
    padding:30px 10px;
}

.card-sm>*{
    margin-bottom:20px;
}

.card-sm :first-child{
    color: #0084FD;
}

.card-sm :last-child{
    margin-bottom: 0;
}

.card__header{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.card__title{
    color: #0084FD;
}

.card__description__big{
    line-height: 30px;
}

.card__description{
    font-size: 16px;
    line-height: 32px;
}

.card__body{
    width: calc(6 * 100% / 12);
}

.card__body__img{
    width: 230px;
    margin: 0 auto;
}

.card__body img{
    display: block;
}

.button.btn-blue{
    color: white;
    padding: 10px;
    background-color: #0084FD;
}
/* END FIRST-SECTION */
/* SECOND-SECTION */
.bg-lilla{
    background-color: #9792E4;
    color: white;
}
.container-sm .col>*{
    margin-bottom: 20px;
}
.cta>*{
    margin-bottom: 20px;
}

.col__description{
    font-size: 12px;
    line-height: 24px;
}

.card.card__white{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

.card.card__white>*{
    margin-bottom: 20px;
}

.card.card__white :last-child{
    margin-bottom: 0;
}

.col__description__white{
    font-size: 12px;
    line-height: 24px;
}

.purple-circle{
    display: block;
    height: 40px;
    width: 40px;
    line-height: 26px;
    margin: 0 auto;
    background-color: #9792E4;
    border-radius: 50%;
    padding: 10px;
}
/* END SECOND-SECTION */
/* THIRD SECTION MAIN  */
.testimonial-container{
    text-align: center;
}

.testimonial-container>*{
    margin-bottom: 20px;
}

.testimonial__title{
    color: #9792E4;
}
.testimonial-description{
    line-height: 30px;
}

.card-lilla{
    text-align: center;
    background-color: #9792E4;
    color: white ;
}

.card-img-part{
    padding-top: 10px;
    margin-bottom: 20px;
}

.testimonial-photo{
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-p-part{
    margin-left: 20px;
}

.card-p-part p{
    line-height: 30px;
    margin-bottom: 20px;
}

/* END THIRD SECTION MAIN */
/* END MAIN */

/* RESPONSIVE PART (MOBILE FIRST) */
/* HEADER RESPONISIVE PART (MOBILE)*/
@media (min-width: 768px) {
    /* HEADER */
    .flex-md {
        display: flex;
    }
    
    /* END HEADER */

    /* MAIN */
    /* THIRD-SECTION*/
    .card-lilla{
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .card-img-part{
        padding: 0;
    }
    .cit{
        width: 550px;
    }
}
    /* THIRD-SECTION */

/* END HEADER RESPONISIVE PART (MOBILE) */
/* RESPONSIVE (TABLET) */
@media (min-width:810px){
    /* FIRST SECTION MAIN */
    .padding{
        padding: 100px 24px;
    }
    .card.card-big{
        display: flex;
        height: 100%;
        flex-wrap: wrap;
    }

    .card__header h2{
        width: 100%;
    }
    .card__header p{
        width: 100%;
    }
    .card__body__img{
        width: 230px;
        margin-left: 0;
    }
    .col8-md{
        width: calc(8 * 100% / 12 - 10px);
    }
    
    .col4-md{
        width: calc(4 * 100% / 12 - 10px);
    }
    .col4-md .card__title{
        width: 100%;
        font-size: 25px;
    }
    .col4-md .card__description{
        width: 100%;
        font-size: 16px;
        line-height: 24px;
    }
    /* END FIRST SECTION MAIN */
    /* SECON SECTION MAIN */
    .col__description{
        font-size: 16px;
        line-height: 20px;
    }
    /* END SECOND SECTION MAIN */
}
/* RESPONSIVE (DECKSTOP) */
@media (min-width:1100px){
    /* HEADER */
    .display-none-lg {
        display: none;
    }
    .flex-lg{
        display: flex;
    }
    /* HEADER */
    .card.card-big{
        display: flex;
        height: 100%;
        flex-wrap: nowrap;
    }
    .card__body.card__body__img{
        display: flex;
        align-items: flex-end;
    }
    /* FIRST SECTION MAIN */
    /* SECOND SECTION MAIN */
    .col6-md{
        width: calc(6 * 100% / 12 - 10px);
    }
    /* TIRTH PART SECTION */
    
