/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol menu{
    list-style: none;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}
/* END RESET */

/* UTITLITIES */
.flex{
    display: flex;
}
.ml-auto{
    margin-left: auto;
}
.aling-center{
    align-items: center;
}
.display-none{
    display: none;
}
.padding{
    padding: 100px;
}

.button{
    background-color: white;
    color: black;
    border-radius: 20px;
}
/* END UTILITIES */

/* LAYOUT */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 950px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col8{
    width: calc(8 * 100% / 12);
}

.col4{
    width: calc(4 * 100% / 12);
}
/* END LAYOUT */

/*  HEADER */
header{
    background-color: #0084FD;
    height: 90px;
    padding: 20px 0 ;
    color: white;
}
.ul-col6{
    gap: 10px;
}

.ul-col6>*{
    padding: 10px;
}

.display-none i{
    padding: 10px;
}
/* END HEADER */

/* RESPONSIVE PART (DECKSTOP FIRST) */
/* HEADER RESPONISIVE PART */
@media (max-width:900px){
    .col6.flex.ml-auto .flex.ul-col6{
        display: none;
    }
    .col6.flex.ml-auto>.display-none{
        display: block;
    }
}
/* END HEADER RESPONISIVE PART */